/* add css module styles here (optional) */


.toysbutton {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.toysbutton:active {
  border-color: white;
}

.toysbuttonprimary {
  background-color: dodgerblue;
  border-color: dodgerblue; 
  color: white;     
}

.toysbuttondashed {
  border-style: dotted;
}

.toysbuttontext {
  border: none;
}

.toysbuttonlink {
  color: deepskyblue;
  border: none;  
}






